.stockPage {
  position: fixed;
  inset: 0;
  z-index: 10;
  height: 40vh;
  background: #2b2d40;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;

  margin: auto;
  
  overflow-y: auto;
  width: 30%;
  &::-webkit-scrollbar {
    display: none;
  }
  .container {
    margin-top: 100px;
    margin-bottom: 100px;

  }
}
