// .stockPage {
//   position: fixed;
//   inset: 0;
//   z-index: 10;
//   height: 40vh;
//   background: #2b2d40;
//   font-family: "Roboto";
//   font-style: normal;
//   font-weight: 700;
//   font-size: 16px;

//   margin: auto;

//   overflow-y: auto;
//   width: 30%;
//   &::-webkit-scrollbar {
//     display: none;
//   }
//   .container {
//     margin-top: 100px;
//     margin-bottom: 100px;

//   }
// }

.stockPage {
  position: fixed;
  inset: 0;
  z-index: 10;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);

  margin: auto;

  display: flex;
  align-items: center;
  .container {
    padding: 0 20px;
    max-height: 340px;
    overflow-y: auto;
    overflow-x: hidden;
   
  }
  //   width: 30%;
 
}
